.shopDiv {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.productLink {
  text-decoration: none;
  color: rgb(78, 77, 77);
  width: 400px;
  margin-top: 15px;
}
