.oneProd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  overflow: hidden;
}
.img-wrap {
  width: 300px;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.oneProd:hover {
  margin-top: -20px;
  transition: 300ms;
}

.prodName {
  text-decoration: none;
padding-top: 10px;
}

.prodImg {
height: 100%;
}
.prodPrice {
 margin-top: -10px;
 color: rgb(0, 0, 0);
}