.totalAmount {
  width: 100%;
  position: fixed;
  bottom: 10px;
  text-align: right;
  background: white;
  text-decoration: none;
}

.line {
  width: 100%;
  height: 1px;
  background: rgb(167, 167, 171);
  background: linear-gradient(
    249deg,
    rgba(167, 167, 171, 1) 0%,
    rgba(255, 255, 255, 1) 30%
  );
}

.total {
  font-size: 24px;
  color: rgb(62, 62, 62);
  padding-right: 10px;
}

.continue {
  text-decoration: none;
  color: rgb(42, 42, 42);
  transition: 0.3s;
}

.continue:hover {
  color: rgb(0, 28, 212) ;
}


span {
  color: rgba(128, 128, 128, 0.612);
}

.order {
  background-color: rgb(42, 42, 42);
  color: white;
  padding: 5px 20px;
  border: 2px solid rgb(42, 42, 42);
  margin: 0 10px 10px 10px;
  transition: 0.3s;
  text-decoration: none;
}


.order:hover {
  background-color: white;
  border: 2px solid rgb(42, 42, 42);
  color: rgb(42, 42, 42);
}

