.order-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order-form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.order-form label {
  padding: 5px 0;
}
.total-in-order {
  font-weight: 200;
}

.payment {
  font-weight: 400;
}
#final-order {
  margin: 10px 0;
  padding: 10px 0;
  width: 100%;
  background-color: brown;
  border: 2px solid brown;
  color: white;
  transition: 0.3s;
}

#final-order:hover {
  color: brown;
  background-color: white;
  border: 2px solid brown;
}


@media (max-width:600px) {
  .order-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }
}