.carouselItem {
  transition: 0.3s;
  position: relative;
}

.linkCarousel {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.carouselImg {
 min-width: 100%;
}

.see-more {
  position: absolute;
  height: 300px;
  width: 300px;
  top: 0;
  left: 0;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  padding-top: 140px;
transition: 0.2s;
}

.see-more:hover {
  color: white;
background: radial-gradient(circle, rgba(94, 92, 92, 0.399) 47%, rgba(67, 63, 63, 0.65) 100%);
  font-size: 18px;
}