@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Roboto&family=Shadows+Into+Light&display=swap');

.footer {
    background-color: rgb(46, 46, 47);
    padding: 10px;
    margin-top: 40px;
}

.logoFooter {
    color: rgb(204, 78, 78);
    font-size: 44px;
    padding-top: 50px;
    font-weight: 200;
    padding: 20px 0;
}

.info1 {
    padding-left: 70px;
    color: white;
}
.info2{
    padding-top: 40px;
    padding-left: 50px;
}

li {
    padding-bottom: 10px;
}

.infoTitle{
margin-top:10px ;
color: white;
}

.infoData {
   margin: 0;
    color: rgb(185, 185, 185);
}

.footer-list {
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    .logoFooter {
        font-size: 32px;
    }
  }
  
