@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Roboto&family=Shadows+Into+Light&display=swap');

.footer {
    background-color: rgb(46, 46, 47);
    padding: 10px;
}

.logoFooter {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 64px;
    padding-top: 50px;
}


.info1 {
    padding-left: 70px;
    color: white;
}
.info2{
    padding-top: 40px;
    padding-left: 50px;
}

li {
    padding-bottom: 10px;
}

.infoTitle{
margin-top:10px ;
color: white;
}

.infoData {
   margin: 0;
    color: rgb(185, 185, 185);
}